header{
	background-color: black;
	padding: 5px 5px;
	}
h1{
	color: white;
	font-family: "Trebuchet MS", sans-serif;
	text-align: center;
	padding-left: 30px;
}
ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	}
a{
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration:none;
	}
.center{
	display:block;
	width: 200px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	}
h2{
	text-align: center;
	}
p{
	text-align: center;
	}